$color__white: #fff;
$color__valhalla: #202142;
$color__light__crimson: #ff6a95;
$color__chinese__silver: #cccccc;
$color__dark__charcoal: #333333;
$color__alpha_four: rgba(0, 0, 0, 0.4);
$color__cultured: #f4f4f4;
$color__light__gray: #eee;
$color__smoke: whitesmoke;
$color__yellow__green: yellowgreen;
$color__teal: teal;
